:root {
  --md-primary-fg-color:        #ff7700;
  --md-primary-fg-color--light: #f9fbfd;
  --md-primary-fg-color--dark:  #2b354f;
  --md-default-fg-color:        #304455;
  --md-accent-fg-color:         #ffc899;
}
