/* Fonts */

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  font-weight: 600;
}

.md-typeset p {
  font-size: 0.72rem;
}

.md-typeset a {
  font-weight: 600;
}

.md-typeset li {
  font-size: 0.72rem;
}

.md-typeset code {
  font-size: 0.6rem;
}

h1, body, input {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

pre, code, kbd {
  font-family: "Roboto Mono", monospace;
}

/* Top bar */

.md-header-nav__button.md-logo img {
  margin-top: -0.2rem;
  width: 40px;
  height: 35px;
}


/* Headlines */

.md-typeset h2,
.md-typeset h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}


/* Admonition */

/* Admonition Info */

.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: #ff7700
}

.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: #fff1e5
}

.md-typeset .info > .admonition-title {
  color: #ff7700
}

.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: #ff7700
}

.md-typeset .admonition.info {
  background-color: #fff1e5
}

/* Admonition Question */

.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: #0088ff
}

.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: #e5f3ff
}

.md-typeset .question > .admonition-title {
  color: #0088ff
}

.md-typeset .question > .admonition-title::before,
.md-typeset .question > summary::before {
  background-color: #0088ff
}

.md-typeset .admonition.question {
  background-color: #e5f3ff
}

/* Admonition Tip */

.md-typeset .admonition.tip,
.md-typeset details.tip {
  border-color: #00bfa5
}

.md-typeset .tip > .admonition-title,
.md-typeset .tip > summary {
  background-color: #e5f8f6
}

.md-typeset .tip > .admonition-title {
  color: #00bfa5
}

.md-typeset .tip > .admonition-title::before,
.md-typeset .tip > summary::before {
  background-color: #00bfa5
}

.md-typeset .admonition.tip {
  background-color: #e5f8f6
}

/* Admonition Warning */

.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: #ff0008
}

.md-typeset .warning > .admonition-title,
.md-typeset .warning > summary {
  background-color: #ffe5e6
}

.md-typeset .warning > .admonition-title {
  color: #ff0008
}

.md-typeset .warning > .admonition-title::before,
.md-typeset .warning > summary::before {
  background-color: #ff0008
}

.md-typeset .admonition.warning {
  background-color: #ffe5e6
}


/* Custom Severity Table */

.md-typeset table p {
  font-size: 0.64rem;
}

.md-typeset table ul li {
  font-size: 0.64rem;
}

.md-typeset td.sev-1 {
  background: #ffe7e7;
  color: #f00;
  font-weight: bold;
}

table td.sev-2 {
  background: #ffd;
  color: rgb(255,153,0);
  font-weight: bold;
}

.md-typeset  table td.warning {
  font-weight: bold;
  text-align: center;
  color: #f00;
  background: #ffe7e7;
}

.md-typeset td.sev-3 {
  background: #e0f0ff;
  color: rgb(51,102,255);
  font-weight: bold;
}

.md-typeset td.sev-4 {
  background: #f0f0f0;
  color: rgb(128,128,128);
  font-weight: bold;
}

.md-typeset table td.centered {
    text-align: center;
    vertical-align: middle;
}
